body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.man-running{
    width: 100%;
}

.title {
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2.5rem;
}

.subtitle {
    margin-bottom: 3rem;
    text-align: center;
    font-size: 80%;
}

.videoyt {
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

.table {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.footer {
    display: flex;

}

.list {
    list-style-type: none;
}

table td {
  border-top: 2px solid black;
}

table {
  border-collapse: collapse;
}

.coluna-flex-70 {
  width: 70%;
}

.coluna-flex-30 {
  width: 30%;
}

footer {
  background-color: #463738;
  color: white
}

.centrar-footer {
  width: 70%;
  margin: 0 auto;
}

.list {
  padding-left: 0;
}
