body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.man-running{
    width: 100%;
}

.title {
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2.5rem;
}

.subtitle {
    margin-bottom: 3rem;
    text-align: center;
    font-size: 80%;
}

.videoyt {
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
}

.table {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.footer {
    display: flex;

}

.list {
    list-style-type: none;
    padding-left: 0;

}

table td {
  border-top: 2px solid black;
}

table {
  border-collapse: collapse;
}

.coluna-flex-70 {
  width: 70%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.coluna-flex-30 {
  width: 30%;
  margin-top: 1rem;
}

footer {
  background-color: #463738;
  color: white;
  font-weight: bold;
}

.centrar-footer {
  width: 70%;
  margin: 0 auto;
}

li {
    margin-bottom: 1rem;
}

input {
    margin-bottom: 1rem;
}

#email {
    width: 90%;
    height: 25px;
}

label {
    font-size: 93%;
}

#subscrit {
    width: 93%;
    height: 30px;
    background-color: greenyellow;
    border: none;
    color: white;
    font-weight: bold;
}

th {
    text-align: left;
}

.double {
    display: flex;
    width: 80%;
    margin: 0 auto;
    font-size: 80%;
}

.text-resume {
    font-weight: bold;
    width: 60%;
}

img {
    max-width: 100%;
    height: auto;
}

.coluna-direita {
    width: 40%;
    margin: 7rem 0 0 5rem;
}

.title2 {
    font-size: 35px;
}

.eventos {
    margin-top: 2.5rem;
    width: 60%;
}

.quadrados {
    margin-top: 2.5rem;
    width: 40%;
    margin: 2.5rem 0 0 5rem;
}

.flex {
    display: flex;
    margin-bottom: 1rem;
    gap: 5px;
}

.border {
    border: 1px solid red;
}

.data {
    font-size: 25px;
    font-weight: bold;
}

.data2 {
    font-size: 15px;
    font-weight: bold;
}

